.DS_Store
*.pidb
*.orig.meta
*.ilk
*.ilk.meta
*.sln
*.userprefs
*.csproj
*.csproj.user
*.unityproj
*.DotSettings.user
*.idea*

/CSharp??Support/compilation.log
/CSharp??Support/compilation log.txt

UnityVS.VersionSpecific.dll
UnityVS.VersionSpecific.dll.meta

/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/build_info
/Assets/StreamingAssets/build_info.meta
/Assets/StreamingAssets/crashlytics-build.properties
/Assets/StreamingAssets/crashlytics-build.properties.meta

Thumbs.db
thumbs.db
**/.vs/**
/Build/*
/Library/*
/Logs/*
/Temp/*
/Obj/*
/obj/*

/ConfigParser/bin/*
/ConfigParser/obj/*
/buildDirLocation.txt
*remote_config_data*
ProjectSettings/ProBuilderSettings.json
**/_ReSharper.Caches/**
UserSettings
Recordings
